<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:versionName="1.0" android:versionCode="1"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.circle">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Circle"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMapActivity" android:theme="@android:style/Theme.Dialog" >
        </activity>

        <activity android:name=".ApkListActivity"  android:label="Circles">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAPcGfWhF9EeFFAaLzgV1ZFlTDB94vBEZc"/>
    </application>

</manifest>